<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adding student</title>
</head>
<body>
<h2>New student</h2>
<br>
<form action="/random/saveStudent" method="post">
    <input type="hidden" name="id">
    <label>Команда:</label>
    <input type="text" name="b_teamId"></input>
    <br><br>
    <label>Имя:</label>
    <input type="text" name="c_name"></input>
    <br><br>
    <label>Фамилия:</label>
    <input type="text" name="d_surname"></input>
    <br><br>
    <input type="hidden" name="isPresent"></input>
    <input type="hidden" name="mark"></input>
    <input type="hidden" name="ansMark"></input>
    <input type="hidden" name="qMark"></input>
    <input type="hidden" name="isAnswer"></input>
    <input type = "submit" value = "Добавить">
</form>
<br><br>
<button onclick="window.location.href='/random/main';">Назад</button>
</body>
</html>