<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Поздравляем</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    </head>
    <body>
        <div class="container">
            <div>
                <h1 id="congratulations">Молодцы, как вы эти вопросы, ух!</h1>
                <a href="/">На главную</a>
                <a href="/reset/">Сбросить результаты</a>
            </div>
        </div>
    </body>
</html>